//@theme "/usr/share/rofi/themes/nord.rasi"
//@theme "/usr/share/rofi/themes/nord.rasi"
//@theme "/usr/share/rofi/themes/nord.rasi"
//@theme "/home/yuqingliu/.local/share/rofi/themes/rounded-nord-dark.rasi"
//@theme "/usr/share/rofi/themes/gruvbox-dark.rasi"
@theme "/usr/share/rofi/themes/launchpad.rasi"
